body {
  margin: 0 auto;
  min-height: 100vh;
  background-color: lightblue;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}

header {
  height: 100px;
  background-color: violet;
  display: flex;
}

.logo {
  margin: auto;
  display: flex;
  align-items: center;
  text-align: center;
  font-size: xxx-large;
  font-family: "liquid", sans-serif;
  color: aqua;
}

.page-wrapper {
  min-height: 100vh;
}

.main-title {
  text-align: center;
  margin-bottom: 50px;
}

.project-card {
  margin: auto;
  border: 6px solid white;
  border-radius: 10px;
  max-width: 500px;
  max-height: 1000px;
  width: 90%;
  height: 100%;
  background-color: aliceblue;
}

.img-div {
  max-width: 500px;
  max-height: 700px;
}

.rainydays-img {
  width: 100%;
}

.text-div {
  text-align: center;
}

.project-title,
.project-nr-text {
  text-align: center;
}

footer {
  margin: auto;
  display: flex;
  text-align: center;
  flex-direction: column;
  height: 150px;
  background-color: violet;
}
